importFrom("grDevices", "colorRampPalette", "colors", "grey", "rgb",
           "xy.coords")
importFrom("graphics", ".filled.contour", "arrows", "axis", "box",
           "contour", "image", "legend", "lines", "locator", "par",
           "plot", "plot.new", "plot.window", "points", "polygon",
           "rect", "text")
importFrom("utils", "packageVersion")
# Export all names (but not .xxx):
exportPattern("^[a-zA-Z]")
export(".Last.domain")
S3method(plot,geodomain)
S3method(plot,geofield)
S3method(print,geofield)
S3method(print,geodomain)
S3method("[[", geofield, .subset.geofield)
S3method("[[<-", geofield, .subset.assign.geofield)
importFrom(Rcpp,sourceCpp)
useDynLib("meteogrid")

